.navbar {
    height:10%;
    width: 100%;
    background: $navColour;

    @include medium {
      width:75%;
    }
    @include small {
      position: static;
      width:100%;
    }

  h1 {
    font-size: 2.5em;
    padding-left: 11%;
    padding-top: 1%;
    margin: 0px;
  	}
  }