.sidebar {
  display: block;
  position: fixed;
  height: 100%;
  left:0;
  top:0;
  background: $bgSidebar;
  padding: 0px 1%;
  text-align: center;
  color: $darkText;
 
  
  @include medium {
    width: 25%;
  }
  
  @include small {
    position: static;
    width: 100%;
  }
    
  #dashmenu {
    display: block;
    box-sizing: inherit;
    padding:0;


.style_prevu_kit, 
{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    padding-left: none;

}
.style_prevu_kit:hover
{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    color: $accent;
}
  
    
    h3 {

      display: block;
      box-sizing: inherit;
      font-family: $font-family;
      font-size: 16pt ;
      font-weight: $heading;
      color:$darkText;
      width: 80%;
      margin:0 auto;
      margin-top:10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $lightText;
      
      @include medium {
        font-size: 12pt;
      }
      @include small {
        font-size: 10pt;
      }
    }
   
    ul {
      display: block;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      padding-left: none;
      padding: 20px 0px;

      p {
        font-family: $font-family;
        text-align: center;
      }
      
      li {
        display: block;
        box-sizing: inherit;
        margin: 0 auto;
        list-style-type: none;
        padding: 20px 0px;
        text-align: center;
        &:hover {
            border-left: 3px solid $accent;
          }

          &.active {
            border-left: 3px solid $accent;
          }

        a {
          color:$darkText;
          text-align: center;
          text-decoration: none;
          font-weight: $paragraph;
          font-size: 10pt;

          &:hover {
            color: $accent;
          }


        }
          
          i.fa {
            float:right;
          }
        }
      }
      
    }
    
  
}

.img-container img {
  height: 130px;
  text-align: center;
  padding: 3%;
}

.img-container {
   padding-top: 15%;
}








