// VARIABLES 

$font-family: 'Source Sans Pro', sans-serif;

$color-main: #4fc08d;
$heading: 400;
$paragraph: 300;

$bgNav: #f2f2f2;
$bgSidebar: #ffffff;
$bgBody: #f2f2f2;

$accent: #4fc08d;

$lightText: #2E2E2E;
$darkText: #2E2E2E;
$color-main: #4fc08d;

$navColour: #F9F9F9;


